.container {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  margin: .2rem 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 .2rem;
  padding: .2rem .2rem;
  background: white;
  border-radius: 5px;
  border: 1px rgba(235, 235, 235, 1.00) solid;
  cursor: pointer;
}

.row:hover {
  border: 1px rgba(20, 100, 190, 0.25) solid;
  box-shadow: 0 0 5px -2px rgba(20, 100, 190, 0.25);
}

.logoWrapper {
  width: 20%;
  flex-shrink: 0;
}

.bookiesLogo {
  height: .6rem;
  margin-right: 0.2rem;
}

.bookiesOdds {
  width: 20%;
  flex-shrink: 0;
  text-align: center;
  font-size: .28rem;
}

.bookiesCode {
  font-size: 0.31rem;
  font-weight: 600;
  line-height: .5rem;
  background-color: #e6f2ff;
  color: #333;
  border-radius: 5px;
  border: 1px dashed #999;
  text-align: center;
}

.bookiesLabel {
  font-size: .28rem;
  font-weight: bold;
  text-align: center;
  line-height: .5rem;
}

.bookiesCode, .bookiesLabel {
  width: 50%;
  flex-shrink: 0;
  text-align: center;
}

.iconContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}



.icon {
  width: 24px;
  height: 24px;
  color: #222;
}